[project]
name = "agents-framework"
version = "0.1.0"
description = "A framework to create agents, tasks, and workflows."
readme = "README.md"
requires-python = ">= 3.9"
dependencies = [
    "pydantic>=2.10.3",
    "controlflow>=0.11.4",
    "docker>=7.1.0",
    "sqlalchemy>=2.0.36",
    "uvicorn>=0.32.1",
    "python-dotenv>=1.0.1",
    "fastapi>=0.115.6",
    "httpx>=0.28.1",
    "pytest>=8.3.4",
    "python-multipart>=0.0.20",
    "sqlalchemy-utils>=0.41.2",
    "pgvector>=0.3.6",
]
keywords = ["Agents", "LLM", "framework", "AI", "tools"]
classifiers = [
    "Topic :: Software Development :: Libraries :: Python Modules",
]
